<h1 class="heading">投稿一覧</h1>
<%= link_to '新規投稿', new_note_path, class: "btn new-note-btn" %>

<ul class="notes">
  <% @notes.each do |note| %>
    <li>
    <%= image_for(note.user) %>
      <%= note.user.name %>
      <span class="content">
        <%= link_to note.title, note_path(note.id) %>
      </span>
    </li>
  <% end %>
</ul>

<br>

